# Cassandra Config
spring.cassandra.schema-action=CREATE_IF_NOT_EXISTS
spring.cassandra.request.timeout=10s
spring.cassandra.connection.connect-timeout=10s
spring.cassandra.connection.init-query-timeout=10s

spring.cassandra.keyspace-name=chat
spring.cassandra.contact-points=127.0.0.1
spring.cassandra.port=9042

spring.jackson.property-naming-strategy=SNAKE_CASE

spring.jpa.hibernate.ddl-auto=update

spring.flyway.locations=classpath:/db/migrations
spring.flyway.schemas=chat
spring.flyway.baseline-on-migrate=true

spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/postgres?currentSchema=chat
spring.datasource.username: postgres
spring.datasource.password: password

spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=your_email_address
spring.mail.password=your_email_password
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true